* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* ------------------- */
/* REUSABLE COMPONENTS */
/* ------------------- */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.main-heading,
.secondary-heading,
.tertiary-heading {
  font-weight: 800;
  color: black;
}

.main-heading {
  font-size: 6.4rem;
  margin-bottom: 3rem;
}

.secondary-heading {
  font-size: 4.4rem;
  padding: 6.4rem 0;
  text-align: center;
}

.tertiary-heading {
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
}

/* ------------------- */
/* HEADER */
/* ------------------- */

.header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 8rem;
}

.logo {
  height: 4.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-bar-link:link,
.nav-bar-link:visited {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.nav-bar-link:hover,
.nav-bar-link:active {
  color: #0f4d00;
}

/* ------------------- */
/* HERO SECTION */
/* ------------------- */

.hero-section {
  padding: 9.6rem 0;
  background-image: url(/images/aaa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  gap: 9rem;
}

.hero-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-description {
  font-size: 2.4rem;
  margin-bottom: 4.4rem;
}

.hero-image-container {
  width: 50%;
}

.hero-image {
  width: 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-main:link,
.btn-main:visited {
  background-color: rgb(28, 150, 28);
  color: white;
}

.btn-main:hover,
.btn-main:active {
  background-color: #0f4d00;
  color: white;
}

.btn-secondary:link,
.btn-secondary:visited {
  background-color: white;
  color: black;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #e7eee6;
  color: black;
  box-shadow: inset 0 0 0 3px white;
}

/* ------------------- */
/* HOW IT WORKS */
/* ------------------- */

.how-it-works-section {
}

.text-images-container {
  display: flex;
  margin-bottom: 9.6rem;
}

.text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-box {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box::before {
  content: "";
  display: block;
  width: 55%;
  padding-bottom: 55%;

  border-radius: 50%;
  background-color: rgb(235, 235, 235);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.inner-image-box {
  width: 40%;
}

.number {
  font-size: 8.6rem;
  font-weight: 600;
  color: rgb(190, 189, 189);
  margin-bottom: 1.2rem;
}

.number-description {
  font-size: 2rem;
}

/* ------------------- */
/* Facts */
/* ------------------- */

.facts-section {
  background-color: #e7eee6;
  padding-bottom: 3.2rem;
}

.facts-description {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  text-align: center;
}
.facts-container {
  display: flex;
  gap: 1.6rem;
}

.facts-results {
  display: flex;
  gap: 1.6rem;
  border: 5px solid gray;
  border-radius: 2rem;
  width: 25%;
  padding: 1.6rem;
}

.facts-results-image {
  width: 30%;
}
.facts-icon {
  width: 100%;
}

.facts-results-description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facts-description-number {
  font-size: 2.4rem;
  font-weight: bold;
}

.facts-description-text {
  font-size: 1.6rem;
}

/* ------------------- */
/* Memberships */
/* ------------------- */

.memberships-section {
  padding-bottom: 9.6rem;
}

.membership {
  width: 25%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  overflow: hidden;
  transition: all 0.3s;
}

.membership:hover {
  transform: translateY(-1.3rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.membership-container {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}

.image-text {
  position: relative;
  text-align: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.membership-image {
  width: 100%;
  filter: brightness(40%);
  text-align: center;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.membership-content {
  padding: 3.6rem 3.6rem 1.6rem 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.membership-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.membership-title-amount {
  font-size: 1.6rem;
  font-weight: 700;
}

.membership-atributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.membership-atribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.membership-icon-true {
  height: 2.4rem;
  width: 2.4rem;
  color: #0f4d00;
}

.membership-icon-false {
  height: 2.4rem;
  width: 2.4rem;
  color: red;
}

.btn-membership {
  margin-top: 2.4rem;
}

/* ------------------- */
/* Testimonials */
/* ------------------- */

.testimonials-section {
  /* padding: 9.6rem 0; */
}

.testimonial-container {
  display: flex;
}

.testimonials {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 4.8rem; */
}

.testimonial {
  width: 50%;
  padding: 2.4rem;
}

.testimonial-image {
  width: 9.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
}

.gallery {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item img {
  display: block;
  width: 100%;
}
