* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

/* ------------------- */
/* REUSABLE COMPONENTS */
/* ------------------- */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 3.2rem;
}

.main-heading,
.secondary-heading,
.tertiary-heading {
  font-weight: 800;
  color: #ffffff;
}

.main-heading {
  font-size: 6.4rem;
}

.secondary-heading {
  font-size: 4.4rem;
  text-align: center;
}

.tertiary-heading {
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
}

.subheading {
  color: #e07400;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-align: center;
}

.line {
  height: 0.5rem;
  width: 6.4rem;
  background-color: #e07400;
  margin: 4.8rem auto 0 auto;
}

.btn-mobile-nav {
  border: none;
  background: transparent;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #e07400;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ------------------- */
/* HEADER */
/* ------------------- */

.header {
  position: relative;
  z-index: 10;
  position: fixed;
  width: 100%;
  color: #ffffff;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4.8rem;
  height: 8rem;
}
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-span {
  font-size: 1.8rem;
}

.best {
  color: #ffffff;
  margin: 0 0.8rem;
}

.gym {
  color: #e07400;
}

.logo {
  height: 4.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-bar-link:link,
.nav-bar-link:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.nav-bar-link:hover,
.nav-bar-link:active {
  color: #a35400;
}

/* ------------------- */
/* HERO SECTION */
/* ------------------- */

.hero-section {
  height: 100vh;
  padding: 9.6rem 0;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.hero-description {
  line-height: 3.6rem;
  text-align: center;
  color: #c4c7bd;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-main:link,
.btn-main:visited {
  background-color: #e07400;
  color: #ffffff;
}

.btn-main:hover,
.btn-main:active {
  background-color: #a35400;
  color: #ffffff;
}

.btn-secondary:link,
.btn-secondary:visited {
  background-color: #28282a;
  color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #c4c7bd;
  color: #28282a;
  box-shadow: inset 0 0 0 3px #c4c7bd;
}

/* ------------------- */
/* HOW IT WORKS */
/* ------------------- */

.how-it-works-section {
  background-color: #000000;
}

.text-images-container {
  display: flex;
  padding-bottom: 9.6rem;
}

.text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-box {
  z-index: 1;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box::before {
  content: "";
  display: block;
  width: 55%;
  padding-bottom: 55%;

  border-radius: 50%;
  background-color: rgb(40, 40, 42);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.inner-image-box {
  width: 40%;
}

.number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #e07400;
  margin-bottom: 1.2rem;
}

.number-description {
  font-size: 2rem;
  color: #c4c7bd;
}

/* ------------------- */
/* Facts */
/* ------------------- */

.facts-section {
  background-color: #28282a;
  padding-bottom: 3.2rem;
}

.facts-description {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  text-align: center;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.facts-results {
  background-color: #000000;
  display: flex;
  gap: 1.6rem;
  border: 5px solid transparent;
  border-radius: 2rem;
  padding: 1.6rem;
}

.facts-results-image {
  width: 30%;
}
.facts-icon {
  filter: invert(53%) sepia(48%) saturate(6325%) hue-rotate(15deg)
    brightness(94%) contrast(101%);
  width: 100%;
}

.facts-results-description {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facts-description-number {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.8rem;
}

.facts-description-text {
  font-size: 1.6rem;
  color: #c4c7bd;
}

/* ------------------- */
/* Offerts */
/* ------------------- */

.offerts {
  background-color: #000000;
}

.offerts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.offerts-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerts-image img {
  width: 100%;
}

.offerts-atributes {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem 2.4rem 9.8rem;
  gap: 4.8rem;
}

.offerts-text-box {
  padding: 2.4px;
}

.offerts-atribute {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.offerts-atribute span {
  color: #ffffff;
  font-size: 1.6rem;
}

.offerts-atribute p {
  color: #c4c7bd;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.offerts-icon {
  color: #e07400;
  font-size: 3.6rem;
}

/* ------------------- */
/* Memberships */
/* ------------------- */

.memberships-section {
  padding-bottom: 6.4rem;
  background-color: #28282a;
}

.membership {
  background-color: #000000;

  width: 25%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  overflow: hidden;
  transition: all 0.3s;
}

.membership:hover {
  transform: translateY(-1.3rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.membership-container {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}

.image-text {
  position: relative;
  text-align: center;
  color: #ffffff;

  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.membership-image {
  width: 100%;
  filter: brightness(40%);
  text-align: center;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.membership-content {
  padding: 3.6rem 3.6rem 1.6rem 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.membership-title {
  color: #ffffff;

  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.membership-title-amount {
  font-size: 1.6rem;
  font-weight: 700;
}

.membership-atributes {
  color: #c4c7bd;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.membership-atribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.membership-icon-true {
  height: 2.4rem;
  width: 2.4rem;
  color: #0f4d00;
}

.membership-icon-false {
  height: 2.4rem;
  width: 2.4rem;
  color: red;
}

.btn-membership {
  margin-top: 2.4rem;
  color: #ffffff;
}

.btn-membership:link,
.btn-membership:visited {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem 5.4rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
  background-color: #e07400;
  color: #ffffff;
}

.btn-membership:hover,
.btn-membership:active {
  background-color: #a35400;
  color: #ffffff;
}

/* ------------------- */
/* Testimonials */
/* ------------------- */

.testimonials-section {
  background-color: #000000;
}

.testimonial-container {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
  padding: 9.6rem;
}

.testimonial {
  padding: 2.4rem;
}

.testimonial-image {
  width: 9.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  color: #c4c7bd;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  color: #e07400;

  font-size: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ------------------- */
/* BMI */
/* ------------------- */

.bmi-section {
  padding: 9.6rem 0;
  background-image: linear-gradient(#000000, #28282a, #000000);
}

.bmi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e07400;
}

.bmi-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bmi-image-box {
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-position: center;
}

.bmi-form {
  padding-bottom: 4.8rem;
  width: 40%;
}

.height-weight-age label {
  display: block;
}

.bmi-form label {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

#height,
#weight,
#age {
  color: #c4c7bd;
  width: 100%;
  padding: 1.2rem;
  background-color: transparent;
  border: 1px solid #c4c7bd;
  margin-bottom: 3.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 3.6rem;
}

.radio input {
  margin: 1.6rem 0;
}
.radio input:checked {
  accent-color: #e07400;
}

.radio label {
  font-size: 1.2rem;
  margin: auto 2.4rem auto 0.8rem;
}

.calc-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form button {
  background-color: #e07400;
  padding: 1.2rem 5.4rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px;
  border: transparent;
}

form button:hover {
  background-color: #a35400;
}

.result {
  height: 4rem;
  width: 21.5rem;
  color: #e07400;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;

  margin-top: 2.4rem;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.result::placeholder {
  color: #e07400;
}

/* ------------------- */
/* Footer */
/* ------------------- */

.footer {
  padding-top: 9.6rem;
  background-color: #000000;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
.footer-grid-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  align-items: center;
  margin-bottom: 3.2rem;
}

.footer-heading {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-grid {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.logo-container-footer {
  margin-bottom: 2rem;
  margin-top: -1.6rem;
}

.logo-column-text {
  color: #c4c7bd;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.social-links {
  display: flex;
}

.address-atribute {
  display: flex;
  list-style: none;
  margin-bottom: 1.6rem;
}

.address-icon {
  font-size: 1.2rem;
  color: #e07400;
}

.social-icons {
  font-size: 1.2rem;
  padding: 1.2rem;
  border: 1px solid #c4c7bd;
  margin-right: 1.2rem;
  transition: all 0.3s;
}
.social-icons:hover {
  background-color: #a35400;
  transform: scale(1.2);
}

.address-atribute span {
  color: #c4c7bd;
  font-size: 1.2rem;
  margin-left: 1.2rem;
}

.popular-tags-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.popular a {
  font-size: 1.2rem;
  padding: 1.2rem;
  border: 1px solid #c4c7bd;
  transition: all 0.3s;
}
.popular a:hover {
  background-color: #a35400;
  transform: scale(1.1);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #28282a;
  font-size: 1.6rem;
  padding: 2.4rem 0;
}

.year {
  margin: 0 0.5rem;
}
